[v-cloak] {
  display: none;
}

body {
  font-family: 'Lato', sans-serif;
  padding: 20px;
  max-width: 600px;
}

label {
  font-weight: bold;
}

dl {
  display: flex;
  flex-flow: row wrap;
  max-width: 200px;
  font-weight: bold;
}

dt {
  flex-basis: 15%;
}
dd {
  flex-basis: 60%;
}

.correct-result {
  color: green;
}
.incorrect-result {
  color: red;
}
