<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" />
    <link rel="stylesheet" href="war.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="war.js" defer></script>
    <title>Project 1 | Modified War Card Game</title>
  </head>
  <body>
    <header>
      <h1>Project 1 | Modified War Card Game</h1>
      <p class="game-description">
        <strong>Instructions:</strong> Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Dolorum, laborum itaque exercitationem delectus quos culpa distinctio quis
        debitis eius commodi ducimus a tempore accusamus fugit aspernatur nobis aliquam
        amet suscipit.Quibusdam perspiciatis illum quos magnam a, debitis, aut aperiam
        asperiores eaque delectus at! Animi, molestias. Commodi perferendis recusandae
        ipsa iste maxime, illo debitis totam aspernatur quos tempora numquam fuga atque.
      </p>
    </header>
    <main id="game" v-cloak>
      <section>
        <!-- Player Card Section -->
        <span>Your Hand:</span>
        <template v-for="(card, index) in playerHand">
          <label :for="card.value+card.suit" :class="card.suit">{{
            cardNames.get(card.value)
          }}</label>
          <input
            type="radio"
            :id="card.value+card.suit"
            :value="index"
            v-model="playerSelection"
          />
        </template>
        <p v-if="playerCard">
          You've selected the {{ cardNames.get(playerCard.value) }} of
          {{ playerCard.suit }}.
        </p>
      </section>
      <section>
        <!-- War Section -->
        <span>Battlefield:</span>
        <div class="card-display"></div>
        <button @click="playWar()" @keyup.enter="playWar()">Play Card</button>
      </section>
    </main>
  </body>
</html>
